#root {
  height: 100vh;
  overflow-y: hidden;
}

.main {
  width: 65vw;
  height: 70vh;
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 30vh;
}

.main img {
  width: 40vh;
}

.menu {
  font-size: 1.2em;
  height: 100vh;
  overflow-y: scroll;
  width: 30vw;
  display: inline-block;
}

.menu-item {
  padding: 10px;
  border-bottom: 1px solid gray;
}